.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-scnd);
    opacity: 0.9;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px #0005;
    text-align: center;
    border: none;
}
    .btn:hover {
        box-shadow: 0 4px 8px #0009;
        opacity: 1;
    }